body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* Estilo del nombre de cada hotel */
.no-link-style {
  text-decoration: none; /* Elimina el subrayado por defecto */
  color: inherit; /* Hereda el color del texto del contenedor */
  cursor: pointer; /* Cambia el cursor al estilo de puntero al pasar el ratón */

  /* Estilos al pasar el cursor por encima del enlace */
  &:hover {
    text-decoration: underline; /* Agrega un subrayado al pasar el cursor */
  }
}


.header {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.colorFondoPrincipal {
  background-color: #F2F2F2;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align:end;
}

.hotelNameText {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 6px;
}

.priceText {
  font-size: 24px;
  text-align: center;
  font-weight:bolder;
  margin-top: 10px;
}

.hotelWrapper {
  margin-top: 1%; /* Añade espacio inferior entre cada hotel */
  display: flex;
}

.lateralComponentsMargin {
  margin-bottom: 5%;
}


.grid-container {
  display: flex;
  margin-left: 6px;
  margin-top: 1px;
}


.column {
  flex: 1;
}

.subcolumn {
  flex: 0.5;
  margin-bottom: 10px;
}

.column-image {
  flex: 0 0 300px; /* La columna de la imagen tendrá un ancho fijo de 300px */
  overflow: hidden; /* Evita que la imagen se salga del contenedor */
}
.column-image img {
  width: 98%; /* La imagen ocupará el 100% del ancho de la columna */
  height: auto; /* La imagen ocupará el 100% de la altura de la columna */
  max-height: 200px;
}

.row {
  margin-bottom: 10px;
  margin-left: 12px;
}

.tags-row {
  margin-top: 12px;
}



/* Estilos para el contenedor de etiquetas */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* Espacio entre etiquetas */
  margin-left: 10px;
}

/* Estilos para cada etiqueta individual */
.tag {
  background-color: #007BFF; /* Color de fondo */
  color: #FFFFFF; /* Color del texto */
  padding: 6px 10px; /* Espaciado interno */
  border-radius: 50px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre la etiqueta */
  transition: background-color 0.3s ease; /* Efecto de transición para el color de fondo */

  /* Otros estilos opcionales */
  /* Puedes agregar sombra, bordes adicionales u otros estilos según tus preferencias */
}

/* Cambio de color al pasar el ratón sobre la etiqueta */
.tag:hover {
  background-color: #0B6AFF; /* Nuevo color de fondo al pasar el ratón */
}


/* Estilos para la paginación personalizada */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
}

.pagination-btn {
  background-color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #000000;
}

.pagination-btn:hover {
  background-color: #E0E0E0;
}

.pagination-btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination-btn.active {
  background-color: #0B6AFF;
  color: #fff;
}
